
/*---------------탭메뉴 start-------------------*/
.menu_tab{
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  &_wrap{width: 100%;border-bottom: solid 1px #eff1f2;}

  input[type="radio"]{
    width:auto;
    height:auto;
    position:absolute;
    top:0;
    left: -999px;
  }
  li{
    float: left;
    width: 33.3333%;
    &:last-child a{
      border-right: solid 1px #eff1f2;
    }
    .on,
    .dot.active{
      border: 0;
      background: #297cbd;
      color:#fff;
    }
  }
  a{
    font-size: 20px;
    color: #333;
    font-family: 'nanum-squre_B';
    width:100%;
    height:88px;
    display: inline-block;
    text-align: center;
    line-height: 88px;
    border-left: solid 1px #eff1f2;
    box-sizing: border-box;
    &:focus,
    &:active{
      // outline: 0;
      border: 0;
    }
  }
}
#tab1:checked ~ .content #tab-content1 {
 display: block;
}
#tab2:checked ~ .content #tab-content2 {
 display: block;
}
#tab3:checked ~ .content #tab-content3 {
 display: block;
}

.tab-content{
  display: none;
  font-size: 20px;
  width:100%;
  position: absolute;
  left: 0;
}

/*---------------탭메뉴 end-------------------*/


.banner_wrap{
  width: 100%;
  height: 549px;
  margin: 0;
  background: url("../images/banner_01.png") no-repeat top center #4d4a42;
}
.banner_text{
  margin: 0 auto;
  color:#fff;
  padding-top: 120px;
  &>h1{
    font-size: 52px;
    font-family: 'nanum-squre_EB';
    color:rgba(255,255,255,0.9);
    margin-bottom: 50px;
    &>span{font-family: 'nanum-squre_B';}
  }
  &>p{
    color:rgba(255,255,255,0.8);
    font-family: 'nanum-squre_L';
    font-size: 34px;
    line-height: 1.45;
    letter-spacing: -0.5px;
  }
}

.user_center{
  margin: 0 auto;
  &>span{
    font-size: 14px;
    font-weight:600;
    margin: 0 6px 0 20px;
  }
}
.user.search{
  width: 50%;
}
.section{width:100%;}

.content_wrap{
  width:100%;
  margin:0;
  padding-top:90px;
  font-size: 14px;
  border-bottom:solid 1px #eff1f2;
  ul{
    width: 100%;
    &>li{
      width: 50%;
      float: left;
      font-size: 14px;
      &>span{
        font-size: 14px !important;
        width: 6px;
        position: relative;
        bottom: 2px;
      }
    }
    &>.num>span{
      width: 14px;
      display: inline-block;
      text-align: center;
      font-size: 13pt !important;
      float: left;
      bottom: 4px;
      &:nth-child(2){margin-left: 1px;}
    }
  }
  &>div>ul,
  &>div>form>ul
  {border-top: solid 2px #8eb5ec;margin: 22px 0 60px;}
  &>div:last-child>ul{margin-bottom:26px;}

  &>div:last-child .col4_top{
    margin-bottom: 0;
  }
  .col2_botoom{
    border-top: 0;
    margin-top: 0;
  }
  &.bg_gray{background:#fafafa; }
}

.content{
  margin: 0 auto;
  &:before{clear: both;}
  &.wide{
    width:calc(100% - 90px);
    left:0;
    margin: 45px 45px 0px;
    float: inherit;
  }
}

.content_sevice>h3,
.content_text>p{
  font-weight: 400;
}


.content_text{
  width:calc(100% - 180px);
  height: 395px;
  background: url("../images/contents01.png") no-repeat 90% 0;
  margin: 0px auto;
  padding: 110px 90px 0;
  &>h1{
    font-size: 30px;
    font-family: 'nanum-squre_B';
    margin-bottom: 45px;
    color: #333;
  }
  &>p{
    font-family: 'nanum-squre_B';
    font-size: 18px;
    line-height: 1.45;
    letter-spacing: -0.5px;
    .main_text_bottomMargin{
      margin-top: 14px;
      display: block;
      font-family: 'nanum-squre_B';
    }
  }
  &.right{
    background: url("../images/contents02.png") no-repeat 10% 0;
    text-align: right;
    &>p{
      text-align: right;
      color: #333;
    }
  }
  &.BG03{background: url("../images/contents03.png") no-repeat 90% 0 !important;}
}
.text_blue{
  color:#238de0;
  font-size: 30px;
}

.jbMenu {
  text-align: center;
  width: 100%;
  background:#fff;
  position: absolute;
  top:0;

}
.jbFixed {
  position: fixed;
  top: 0px;
  z-index: 10;
}




.content_sevice{
  height: auto;
  margin: 0px auto;
  padding: 0;
  text-align: center;
  line-height: 2;
  margin-top: -10px;
  &>h1{
    font-size:28px;
    font-family: 'nanum-squre_EB';
    margin: 0;
  }
  &>h3{
    color: #666;
    line-height: 1.8;
    font-size: 18px;
    margin-bottom: 30px;
    margin-top: 5px;
    letter-spacing: -0.8px;
    font-family: 'nanum-squre_R';
  }
  table{
    caption{display: none;}
    background: #fff;
    border: solid 1px #e5e5e5;
    margin-top: 40px;
    margin-bottom: 115px;
    thead th{
      background: #23292f;
      color:#fff;
      font-size: 16px;
      /* font-family:'nanum-squre_B' */
    }
    th,
    td{
      padding:17px 0px;
      width:245px;
      line-height: 1.75;
      vertical-align: middle;
      color:#666666;
      font-size: 15.3px;
      font-weight: 100;
      border-right: solid 1px #e5e5e5;
      border-bottom: solid 1px #e5e5e5;
      &:first-child,
      &:first-child{
        width:200px;
        /* font-family:'nanum-squre_B'; */
        font-size: 16px;
        color:#000;
        letter-spacing: -1.5px;
      }
    }
    //td:last-child{
    //   border:0 ;
    // }
  }
}

.logo_office_wrap ul{
  overflow: hidden;
  margin-top: 15px;
  margin-bottom: 95px;
  li{
    width: calc(25.4% - 26px);
    width: 23%;
    //width: 253.5px;
    height:170px;
    border: solid 1px #e5e5e5;
    float: left;
    position: relative;
    margin: 15px 26px 15px 0;
    p{
      background: #fafafa;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: auto;
      padding: 10px 0;
      font-size: 14px;
      color: #666;
      border-top: solid 1px #e5e5e5;
    }
    img{
      padding-top:40px;
    }
    &:nth-child(3)>img{
      padding-top:20px;
    }
  }
  .forth_marginRight0{margin-right: 0;}
}


.gms_service_down_btn{
  background: url("../images/icon_btn_down_over.png") no-repeat 88% 50% #297cbd;
  color: #fff;
  font-size: 17px;
  padding: 20px 85px 20px 40px;
  letter-spacing: -1px;
  border: solid 1px #297cbd;
  width:343px;
  height:65px;
  box-sizing: border-box;
  &:hover{
    background: url("../images/icon_btn_down.png") no-repeat 88% 50% #fff;
    color: #373737;
    border: solid 1px #dedfe3;
  }
  &>img{
    vertical-align: middle;
    margin-left: 20px;
  }
}
@media (max-width:1300px){
  .logo_office_wrap ul>li{
    width: calc(50.8% - 26px);
  }
  .logo_office_wrap ul>li:nth-child(2),
  .marginRight0{margin-right: 0;}
}
